<div class="row">
  <div class="col-md-9">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Day
          </div>
        </div>
      </div>
    </div>
    <br />

    <ng-template #loading>
      <div class="text-center">
        <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
        Loading events...
      </div>
    </ng-template>

    <div *ngIf="events$ | async; else loading; let events">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          [cellTemplate]="customCellTemplate"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>

  <!-- Right sidebar to display events -->
  <div class="col-md-3">
    <div>
      Today
    </div>
    <div>
      <span style="font-size: 3em">
        {{todayObj?.day}}
      </span>
      <span style="display: inline-block">
        <div>
          {{todayObj?.weekday}}
        </div>
        <div>
          {{todayObj?.monthyear}}
        </div>
      </span>
    </div>
    <div *ngIf="eventsToday$ | async; else loading; let events">
      <div *ngIf="events.length > 0; else noevents">
        <div *ngFor="let event of events">
          <div class="card">
            {{event?.title}}
            <div class="card-body">
              {{event?.start?.toString()?.slice(0,24)}}
              {{event?.end?.toString()?.slice(0,24)}}
              {{event?.description}}
            </div>
          </div>
        </div>
      </div>
      <ng-template #noevents>
        <div>
          There are no events today.
        </div>
      </ng-template>
    </div>
  </div>
  <!-- Right sidebar ends -->
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header btn-primary">
    <h5 class="modal-title">{{modalData?.event?.title}}</h5>
    <div class="float-right">
      <button type="button" class="edit" (click)="editModal(modalData?.event)">
        <span aria-hidden="true">Edit</span>
      </button>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div *ngIf="requests$ | async; else loading; let requests" class="modal-body">
    <div class="row">
      <div class="col-6">
        <label>Facility</label>
        <input type="text" class="form-control-plaintext" id="viewModalFacility" aria-describedby="eventType" placeholder={{modalData?.event?.facility}} readonly>
      </div>
      <div class="col-6">
        <label for="event-type">Event Type</label>
        <input type="text" class="form-control-plaintext" id="viewModalEventType" aria-describedby="eventType" placeholder={{modalData?.event?.eventType}} readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label>Start Date & Time</label>
        <input type="text" class="form-control-plaintext" id="viewModalStart" aria-describedby="eventType" placeholder={{modalData?.event?.start?.toString().slice(0,24)}} readonly>
      </div>
      <div class="col-6">
        <label for="event-type">End Date & Time</label>
        <input type="text" class="form-control-plaintext" id="viewModalEnd" aria-describedby="eventType" placeholder={{modalData?.event?.end?.toString().slice(0,24)}} readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" class="form-control-plaintext" id="viewModalDescription" aria-describedby="description">{{modalData?.event?.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="recurrence">Recurrence</label>
      <input type="text" class="form-control-plaintext" id="viewModalRecurrence" aria-describedby="recurrence" placeholder={{modalData?.event?.recurrence}} readonly>
    </div>
    <div *ngFor="let request of requests; let i = index" style="padding-bottom: 10px;">
      <div (click)="toggleRequest(i)">
        <i [ngClass]="showRequest(i) ? 'fa fa-caret-down' : 'fa fa-caret-right'" aria-hidden="true"></i>
        <span style="padding: 0 0 5px 5px">Request ID: {{request?.id}}</span>
      </div>
      <div *ngIf="showRequest(i)" style="padding-left:20px;">
        <div>Name: {{request?.name}}</div>
        <div>Description: {{request?.description}}</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editModalContent let-close="close">
  <div class="modal-header btn-primary">
    <h5 class="modal-title">Edit Event</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 2rem">
    <form id="editForm" (submit)="editEvent(modalData?.event)">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="editModalTitle" aria-describedby="title" placeholder={{modalData?.event?.title}} readonly />
      </div>
      <div class="form-group form-row">
        <div class="col-6">
          <label for="facility">Facility</label>
          <input type="text" class="form-control" id="editModalFacility" aria-describedby="facility" placeholder={{modalData?.event?.facility}} readonly>
        </div>
        <div class="col-6">
          <label for="event-type">Event Type</label>
          <input type="text" class="form-control" id="editModalEventType" aria-describedby="eventType" placeholder={{modalData?.event?.eventType}} readonly>
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-6">
          <label for="start-date">Start Date & Time</label>
          <input
            class="form-control"
            type="text"
            name="startdate"
            mwlFlatpickr
            [(ngModel)]="modalData.event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </div>
        <div class="col-6">
          <label for="event-type">Event Type</label>
          <input
            class="form-control"
            type="text"
            name="enddate"
            mwlFlatpickr
            [(ngModel)]="modalData.event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="3" class="form-control" id="editModalDescription" name="description" aria-describedby="description">{{modalData?.event?.description}}</textarea>
      </div>
      <div class="form-group">
        <label for="recurrence">Recurrence</label>
        <input type="text" class="form-control" id="editModalRecurrence" aria-describedby="recurrence" placeholder={{modalData?.event?.recurrence}} readonly>
      </div>
      <div style="padding: 1rem 1rem 1rem 0rem">
        <button type="submit" class="btn btn-outline-secondary">
          Save
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template
  #customCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">
  <div class="cal-cell-top custom-cal-cell-top">
    <span class="cal-day-badge custom-cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number custom-cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events custom-cal-events" *ngIf="day.events.length > 0">
    <div
      class="cal-event custom-cal-event"
      *ngFor="let event of day.events | slice:0:2; trackBy:trackByEventId"
      [style.backgroundColor]="event.color?.primary"
      [style.color]="event?.textColor"
      [ngClass]="event?.cssClass"
      (mouseenter)="highlightDay.emit({event: event})"
      (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      (mwlClick)="eventClicked.emit({ event: event })">
      {{event.title}}
    </div>
  </div>
  <span class="more-events" *ngIf="day.events.length - 2 > 0" (click)="showAllEvents()">
    + {{ day.events.length - 2 }} more
  </span>
</ng-template>
